.weather-view {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 2rem;
    background-color: var(--lumo-base-color);
    border-radius: var(--lumo-border-radius);
    box-shadow: var(--lumo-box-shadow-s);
}

.weather-view h2 {
    color: var(--lumo-primary-text-color);
    margin-bottom: 2rem;
}

.weather-view span {
    font-size: var(--lumo-font-size-l);
    margin: 0.5rem 0;
    color: var(--lumo-secondary-text-color);
}
